vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|26 Oct 2008 15:40:48 -0000
vti_extenderversion:SR|12.0.0.4518
vti_author:SR|Technomancer\\Raven
vti_modifiedby:SR|Technomancer\\Raven
vti_timecreated:TR|26 Oct 2008 15:40:48 -0000
vti_cacheddtm:TX|26 Oct 2008 15:40:48 -0000
vti_filesize:IR|5089
vti_cachedlinkinfo:VX|S|controller.png S|controller-first.gif S|controller-last.gif S|controller-next.gif S|controller-pause.gif S|controller-prev.gif
vti_cachedsvcrellinks:VX|FSUS|Andrea's\\ Website\\ Final\\ Series\\ D/css/controller.png FSUS|Andrea's\\ Website\\ Final\\ Series\\ D/css/controller-first.gif FSUS|Andrea's\\ Website\\ Final\\ Series\\ D/css/controller-last.gif FSUS|Andrea's\\ Website\\ Final\\ Series\\ D/css/controller-next.gif FSUS|Andrea's\\ Website\\ Final\\ Series\\ D/css/controller-pause.gif FSUS|Andrea's\\ Website\\ Final\\ Series\\ D/css/controller-prev.gif
vti_backlinkinfo:VX|Taki's\\ Mad\\ Greek/takismadgreek.com/index_old.asp Taki's\\ Mad\\ Greek/takismadgreek.com/food.asp Taki's\\ Mad\\ Greek/takismadgreek.com/livegreekmusic.asp Taki's\\ Mad\\ Greek/takismadgreek.com/livegreekmusic_old.asp Taki's\\ Mad\\ Greek/takismadgreek.com/bellydancing_old.asp Taki's\\ Mad\\ Greek/takismadgreek.com/food_old.asp Taki's\\ Mad\\ Greek/takismadgreek.com/index.asp Taki's\\ Mad\\ Greek/takismadgreek.com/bellydancing.asp
